{{!-- TODO secondary navigation --}}

<nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-left" style="box-shadow: 0 4px 12px -4px rgb(197, 197, 197);">

  <div id="left-nav">
  {{!-- Social links --}}
  <div class="navbar-socials collapse navbar-collapse mx-1">
    {{#if @site.facebook}}
      <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
    {{/if}}
    {{#if @site.twitter}}
      <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
    {{/if}}

    {{#unless @labs.members}}
      <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener"><i class="fas fa-rss"></i></a>
    {{/unless}}
    {{#if @labs.members}}
      <a class="subscribe-button" href="/rss"><i class="fas fa-rss"></i></a>
    {{/if}}
  </div>

  {{!-- Toggler --}}
  <div class="navbar-toggler-container mx-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

  {{!-- Nav Links --}}
  <div class="collapse navbar-collapse mx-auto" id="navbarToggler">
    <ul class="navbar-nav w-100 justify-content-center">
      {{#if @site.navigation}}
        {{navigation}}
      {{/if}}
    </ul>
  </div>

  <div class="collapse-site-title mx-auto">
    <h1>{{@site.title}}</h1>
  </div>

  <div id="right-nav" class="d-flex justify-content-end">
  {{!-- Search --}}
  <div class="text-right mx-1" id="search-container">
    <div class="input-group">
      <input id="search-bar" class="form-control" type="search" placeholder="Search..." aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
      </div>

    </div>
  </div>

  {{!-- Account --}}
  {{#if @member}}
    <div class="account-menu mx-1">
        <a href="javascript:" class="account-menu-avatar" id="account-menu" type="checkbox" name="menu">
            {{> "icons/avatar"}}
            {{#if @member.avatar_image}}
                <img src="{{@member.avatar_image}}" />
            {{/if}}
        </a>
        <ul class="account-menu-dropdown">
            <li class="account-info">
                <small>{{t "Signed in as"}}</small>
                <span class="account-email" title="{{@member.email}}">{{@member.email}}</span>
            </li>
            <li><a href="{{@site.url}}/account/">{{t "Account"}}</a></li>
            <li><a href="#signout" data-members-signout>{{t "Sign out"}}</a></li>
        </ul>
    </div>
  {{else}}
    {{#if @labs.members}}
      <div class="members-menu mx-1">
        <div class="nav-membership">
          <a class="signin-link btn btn-primary" href="#/portal/signin">
            <span class="login-icon">
              {{> "icons/avatar"}}
            </span>
            <span class="login-text"> {{t "Log in"}}</span>
          </a>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>

  <div class="search-results">
    <h2 class="search-title"><span>{{t "Search results"}}</span></h2>
    <p id="search-bar-items-found"></p>
    <div id="search-results"></ul>
  </div>

  {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
  {{#contentFor "scripts"}}
  <script>

    {{!-- hide navbar elements when menu is shown on small devices --}}
    $('#navbarToggler').on('show.bs.collapse', function () {
      $(".collapse-site-title").toggle();
      $(".members-menu").toggle();
      $(".account-menu").toggle();
      $("#search-container").toggle();
    })

    $('#navbarToggler').on('hidden.bs.collapse', function () {
      $(".collapse-site-title").toggle();
      $(".members-menu").toggle();
      $(".account-menu").toggle();
      $("#search-container").toggle();
    })

    {{!-- Replace search placeholder text with icon on small screens --}}
    function searchicon() {
      if($( window ).width() < 770) {
        $("#search-bar").attr("placeholder","");
        $("#search-bar").css("background-image","url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E\")");
      }
      else {
        if (typeof themeConfig.searchHint !== 'undefined' && themeConfig.searchHint != '') {
          $("#search-bar").attr("placeholder", themeConfig.searchHint);
        }
        else {
          $("#search-bar").attr("placeholder","Search...");
        }
        $("#search-bar").css("background-image","none");
      }
    }

    {{!-- check whether replacement is necessary on page load --}}
    $( document ).ready(function() {
      searchicon();

      var leftWidth = $('#left-nav').outerWidth();
      var rightWidth = $('#right-nav').outerWidth();
      if (leftWidth > rightWidth) {
        $("#right-nav").css('width',leftWidth);
      }
      else {
        $("#left-nav").css('width',rightWidth);
      }
    });

    {{!-- check whether replacement is necessary when screen dimensions change --}}
    $( window ).resize(function() {
      searchicon();

      $("#right-nav").css('width','inherit');
      $("#left-nav").css('width','inherit');

      var leftWidth = $('#left-nav').outerWidth();
      var rightWidth = $('#right-nav').outerWidth();
      if (leftWidth > rightWidth) {
        $("#right-nav").css('width',leftWidth);
      }
      else {
        $("#left-nav").css('width',rightWidth);
      }
    });

    {{!-- SearchinGhost --}}
    var searchinGhost = new SearchinGhost({
        // Use API keys
        key: themeConfig.searchKey,
        url: themeConfig.searchURL,
        debug: true,
        searchOn: 'keyup',
        loadOn: 'page',
        limit: 12,
        outputChildsType: 'div',
        // cacheMaxAge: 0,
        onSearchEnd: function(posts) {
            var counter = posts.length;
            var foundElement = document.getElementById('search-bar-items-found');
            if (counter <= 1) {
                foundElement.textContent = `${counter} {{t "post found"}}`;
            } else {
                foundElement.textContent = `${counter} {{t "posts found"}}`;
            }
            $('.search-results').fadeIn();
        }
    });

    {{!-- Toggle search results container and grow input field --}}
    var members = {{#if @labs.members}}true{{else}}false{{/if}};

    $("#search-bar").focusout(function() {
      $('.search-results').fadeOut();

      searchicon();

    });

    $("#search-bar").focusin(function() {
      $('.search-results').fadeIn();

      $("#search-bar").css("background-image","none");

    });

    $('#search-bar').on('input', function(e) {
      if('' == this.value) {
        $('.search-results').fadeOut();
      }
    });

  </script>
  {{/contentFor}}

</nav>
