{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
  {{> site-header}}
</header>

<main id="site-main" class="site-main error-content">
  {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="col mx-auto">

      <p class="site-title">
        <a href="{{@site.url}}">{{@site.title}}</a>
      </p>

    </div>
  </div>

  <div class="col mx-auto">
    <section class="error-message">
      <h1 class="error-code">{{statusCode}}</h1>
      <p class="error-description">{{message}}</p>
      <a class="error-link" href="{{@site.url}}">{{t "Go to the front page →"}}</a>
    </section>
  </div>

  <div class="container clearfix">

    <div class="row post-feed post-layout-columns-3">
      {{#get "posts" limit="3" include="authors,tags"}}

        {{#foreach posts}}
          <div class="col-sm-6 col-md-4">
          {{> "post-card"}}
          </div>
        {{/foreach}}

      {{/get}}
    </div>

  </div>

</main>
